<!-- start header -->
<div class="container-fluid big-container" id="goToHeader">
    <div class="row align-items-center row-parent">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="header">
                <span class="span-style">تلاوة .. حفظ .. اتقان</span>
                <h3 class="h3-style">استثمر في ابنك مع</h3>
                <h1 class="h1-style">أكاديمية الذّكر لعلوم القرآن</h1>
                <p class="p-style">تعلم القرآن على يد محفظين ومحفظات حاصلين على إجازات بأعلى الأسانيد في العالم. بنظام التعلم عن بعد ( وَلَقَدْ يَسَّرْنَا الْقُرْآنَ لِلذِّكْرِ فَهَلْ مِنْ مُدَّكِرٍ )</p>
                <div class="button-style">
                    <a class="know-our-serves" (click)="scrollToTarget('goToWhyWe')">تعرف علي خدمتنا </a>
                    <a class="contact-us"(click)="scrollToTarget('goToContactUs')">تواصل معنا</a>
                </div>
            </div>
        </div>


        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="div-image1-style">
                <img class="image1-style" src="https://www.elzekracademy.com/assets/img/main-banner/hero-section.webp">
                <div class="div-image2-style">
                    <img class="image2-style" src="https://www.elzekracademy.com/assets/img/main-banner/main-banner-shape-1.png"></div>

            </div>

        </div>
    </div>
</div>

<div class="shapes">
    <div class="shape1">
        <img src="https://www.elzekracademy.com/assets/img/main-banner/banner-shape-5.png" alt="">
    </div>

    <div [ngClass]="isNavbarFixed? 'shape22':'shape2'">
        <img  src="https://www.elzekracademy.com/assets/img/main-banner/banner-shape-6.webp">
    </div>

    <div class="shape3">
        <img  src="https://www.elzekracademy.com/assets/img/main-banner/banner-shape-2.png">
    </div>

    <div [ngClass]="isNavbarFixed? 'shape44':'shape4'">
        <img  src="https://www.elzekracademy.com/assets/img/main-banner/banner-shape-4.png">
    </div>
</div>


