<div class="container-fluid father-container" id="goToContactUs">
    <div class="container  contact-us-container">
        <div class="row ">
            <div class="col-lg-7 col-md-12 col-sm-12 ">
                <div class="section-container">
                    <h3>{{h3Content}}</h3>
                    <form>
                        <input class="name-input" type="text" placeholder="ادخل الاسم" required >
                        <input class="number-input" type="text" required placeholder="ادخل رقمك الخاص بالواتس اب مثل(54866999)">
                        <input class="age-input" type="text" required placeholder="ادخل سن الطالب">
                        <textarea placeholder="اكتب رسالتك..."></textarea>

                        <button type="submit" class="link-style" >ارسل الان</button>
                    </form>

                   

                </div>
            </div>
          
           
            <!-- //////////////////////////////////////////////////////////////////// -->
            <div class="col-lg-5 col-md-12 col-sm-12 px-5">

                <div class="phone-number ">
                   <h4> <a href=""><fa-icon style="color: #1b0238;" class="phone" [icon]="faPhoneVolume"></fa-icon></a></h4>
                    <h3>رقم الهاتف</h3>
                    <p>خدمة العملاء لدينا مفتوحة طول ايام الاسبوع
                      <br>
                   من الساعة 8:00 صباحًا حتى الساعة 11:00 مساءً
                       <br>
                   <span>الحصة الأولي مجانا</span>
                   </p>
                    <a class="phone-num-link" href="tel:+966583912704">+966583912704</a>
                </div>

                <div class="social-media ">
                    <h3>تابعونا علي وسائل التواصل </h3>
                    <ul>
                        <li><a href="mailto:your@email.com"><fa-icon style="color: #1b0238;"  [icon]="faEnvelope"></fa-icon></a></li>
                        <li><a href="https://www.facebook.com/"><fa-icon style="color: #1b0238;"  [icon]="faFacebookF"></fa-icon></a></li>
                        <li><a href="https://www.instagram.com/"><fa-icon style="color: #1b0238;" [icon]="faInstagram"></fa-icon></a></li>
                       
                        
                    </ul>
                </div>
                              
            </div>
        </div>
    </div>
</div>