
<div class="container-fluid   attention-section">
<div class="attention-container text-center">
    <span>{{spanContaner}}</span>
    <h3 class="h3-style">{{h3Container}}</h3>
    <p>{{paraContainer}}</p>
</div>

<div class="row px-1 ">
    <div class="col-lg-6 ">
        <div class="right-part">
          
                <div class="img-style"><img src="https://www.elzekracademy.com/assets/img/event/event-1.webp"></div>
         
            <div class="h3-and-ul-style">
                <h3 class="h3-style">{{h3Contaner2}}</h3>
                <ul>
                    <li>{{li1Content}}</li>
                    <li>{{li2Content}}</li>
                    <li>{{li3Content}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
<div class="right-part">
          
                <div class="img-style"><img src="https://www.elzekracademy.com/assets/img/event/event-2.svg"></div>
         
            <div class="h3-and-ul-style">
                <h3 class="h3-style">{{h3Contaner3}}</h3>
                <ul>
                    <li>{{li4Content}}</li>
                    <li>{{li5Content}}</li>
                    <li>{{li6Content}}</li>
                </ul>
            </div>
        </div>

    </div>
</div>
</div>
