<div class="container-fluid big-container " id="goToWhoAre" >
<div class="row align-items-center row-style" >
    <div class="col-lg-6 col-md-12 col-sm-12 ">
        <div class="who-are-content">
        <span class="span-style">{{spanContent}}</span>
        <h3 class="h3-style">{{h3Content}}</h3>
        <p class="para-style">{{paragraph1Content}}</p>
        <p class="para-style">{{paragraph2Content}}</p>

      
       <div class="divs">
        <div class="div-number-content">
            <div class="number"> <span  >1</span></div>

         <div class="content">
             <p class="row-para-style">{{div1Content}}</p>
            </div>
         </div>

         <div class="div-number-content">
            <div class="number"> <span  >2</span></div>

         <div class="content">
             <p class="row-para-style">{{div2Content}}</p>
            </div>
         </div>

         <div class="div-number-content">
            <div class="number"> <span  >3</span></div>

         <div class="content">
             <p class="row-para-style">{{div3Content}}</p>
            </div>
         </div>

         <div class="div-number-content">
            <div class="number"> <span  >4</span></div>

         <div class="content">
             <p class="row-para-style">{{div4Content}}</p>
            </div>
         </div>
       
       </div>

       <div class="learn-quran-now">
        <a class="link-style"(click)="scrollToTarget('goToContactUs')">{{buttonContent}}</a>
       </div>

        </div>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 ">
        <div class="div-img1-style ">
            <img src="https://www.elzekracademy.com/assets/img/who-we-are/about-section-removebg-preview.png">
            <div class="div-img2-style">
                <img src="https://www.elzekracademy.com/assets/img/main-banner/main-banner-shape-1.png">
            </div>
        </div>
    </div>
</div>
</div>


