<div class="container-fluid big-container  " id="goToWhyWe">
    <div class="who-we text-center">
        <span class="span-style">{{spanContent}}</span>
        <h2 class="h2-style">{{h2Content}}</h2>
        <p class="p-style">{{paraContent}}</p>
    </div>

    <div class="container">
        <div class="row mt-5">
            <div class="col-lg-3 col-md-6 ">
                <div class="div-number-content">
                   <div class="number"> <span  >01</span></div>

                <div class="content">
                    <h3 class="h3-style">{{h3Col1Content}}</h3>
                    <p class="row-para-style">{{paraCol1Content}}</p></div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 ">
                <div class="div-number-content">
                <div class="number"><span class="span2">02</span></div>
                <div class="content">
                <h3 class="h3-style">{{h3Col2Content}}</h3>
                <p class="row-para-style">{{paraCol2Content}}</p>
                </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 ">
                <div class="div-number-content">
                <div class="number"><span class="span3">03</span></div>
                <div class="content">
                <h3 class="h3-style">{{h3Col3Content}}</h3>
                <p class="row-para-style">{{paraCol3Content}}</p>
                </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 ">
                <div class="div-number-content">
                <div class="number"><span class="span4">04</span></div>
                <div class="content">
                <h3 class="h3-style">{{h3Col4Content}}</h3>
                <p class="row-para-style">{{paraCol4Content}}</p>
                </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 ">
                <div class="div-number-content">
                <div class="number"><span class="span5">05</span></div>
                <div class="content">
                <h3 class="h3-style">{{h3Col5Content}}</h3>
                <p class="row-para-style">{{paraCol5Content}}</p>
                </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 ">
                <div class="div-number-content">
                <div class="number"><span class="span6">06</span></div>
                <div class="content">
                <h3 class="h3-style">{{h3Col6Content}}</h3>
                <p class="row-para-style">{{paraCol6Content}}</p>
                </div>
                </div>
            </div>


            <div class="col-lg-3 col-md-6 ">
                <div class="div-number-content">
                <div class="number"><span class="span7">07</span></div>
                <div class="content">
                <h3 class="h3-style">{{h3Col7Content}}</h3>
                <p class="row-para-style">{{paraCol7Content}}</p>
                </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 ">
                <div class="div-number-content">
                <div class="number"><span class="span8">08</span></div>
                <div class="content">
                <h3 class="h3-style">{{h3Col8Content}}</h3>
                <p class="row-para-style">{{paraCol8Content}}</p>
                </div>
                </div>
            </div>
    
        </div>
    </div>

</div>