<div class="container-fluid big-container " id="goToOpinions">
    <div class="who-we text-center">
        <span class="span-style">{{spanContent}}</span>
        <h2 class="h2-style">{{h2Content}}</h2>
     </div>
        <div class="container big-slider">
            <div class="row">
                <div class="swiper mySwiper ">
                    <div class="swiper-wrapper ">
                      <div class="swiper-slide col-sm-12"><img src="https://www.elzekracademy.com/assets/img/client/termm1.webp"></div>
                      <div class="swiper-slide col-sm-12"><img src="https://www.elzekracademy.com/assets/img/client/termm2.webp">
                      </div>
                      <div class="swiper-slide col-sm-12"><img src="https://www.elzekracademy.com/assets/img/client/termm5.webp"></div>
                      <div class="swiper-slide col-sm-12"><img src="https://www.elzekracademy.com/assets/img/client/termm3.webp"></div>
                      <div class="swiper-slide col-sm-12"><img src="https://www.elzekracademy.com/assets/img/client/termm1.webp"></div>
                      <div class="swiper-slide col-sm-12"><img src="https://www.elzekracademy.com/assets/img/client/termm2.webp"></div>
                      <div class="swiper-slide col-sm-12"><img src="https://www.elzekracademy.com/assets/img/client/termm5.webp"></div>
                      <div class="swiper-slide  col-sm-12"><img src="https://www.elzekracademy.com/assets/img/client/termm3.webp"></div>
                      <div class="swiper-slide  col-sm-12"><img src="https://www.elzekracademy.com/assets/img/client/termm2.webp"></div>
                    </div>
                   
                  </div>
                 
            </div>
            
    </div>
</div>


    

   
       

