<div class="container  offers-cntainer" id="goToOffers">
    <div class="header-container text-center">
        <span>{{span1Content}}</span>
        <h2>{{h2Content}}</h2>
    </div>

    <div class="row mt-5 row-div ">
        <div class="col-lg-4 col-md-6 col-sm-12">

            <div class="circle-div">
                <div class="square-div">
                    <div >150 ريال بدلا من 200 ريال</div>
                    <h3>الباقـــــه الأولــــي</h3>
                    <ul>
                        <li>3 ساعات</li>
                        <li>6 حصص شهريا</li>
                        <li>مدة الحصة 30 دقيقة </li>
                    </ul>
                    <a (click)="scrollToTarget('goToContactUs')">اشترك الان</a>
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 ">
            <div class="circle-div ">
                <div class="square-div">
                    <div >200 ريال بدلا من 250 ريال</div>
                    <h3>الباقـــــه الثانيـــــة </h3>
                    <ul>
                        <li>4 ساعات</li>
                        <li>8 حصص شهريا</li>
                        <li>مدة الحصة 30 دقيقة </li>
                    </ul>
                    <a (click)="scrollToTarget('goToContactUs')">اشترك الان</a>
                </div>
            </div>

        </div>
        <!-- /////////////////////////////////////////////////// -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="circle-div">
                <div class="square-div">
                    <div >250 ريال بدلا من 300 ريال</div>
                    <h3>الباقـــــه الثالثـــــة</h3>
                    <ul>
                        <li>5 ساعات</li>
                        <li>12 حصص شهريا</li>
                        <li>مدة الحصة 30 دقيقة </li>
                    </ul>
                    <a (click)="scrollToTarget('goToContactUs')">اشترك الان</a>
                </div>
            </div>

        </div>

        <!-- //////////////////////////////////////// -->
        <div class="col-lg-4 col-md-6 col-sm-12">

            <div class="circle-div">
                <div class="square-div">
                    <div >300 ريال بدلا من 350 ريال</div>
                    <h3>الباقـــــه الرابعــــة</h3>
                    <ul>
                        <li>8 ساعات</li>
                        <li>16 حصص شهريا</li>
                        <li>مدة الحصة 30 دقيقة </li>
                    </ul>
                    <a (click)="scrollToTarget('goToContactUs')">اشترك الان</a>
                </div>
            </div>

        </div>
        <!-- ////////////////////////////////////////////// -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="circle-div">
                <div class="square-div">
                    <div >350 ريال بدلا من 400 ريال
                    </div>
                    <h3>الباقـــــه الخامسة</h3>
                    <ul>
                        <li>10 ساعات</li>
                        <li>20 حصص شهريا</li>
                        <li>مدة الحصة 30 دقيقة </li>
                    </ul>
                    <a (click)="scrollToTarget('goToContactUs')">اشترك الان</a>
                </div>
            </div>

        </div>
        <!-- /////////////////////////////////////////// -->
        <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="circle-div">
                <div class="square-div">
                    <div >400 ريال بدلا من 450 ريال
                    </div>
                    <h3>الباقـــــه السادسة</h3>
                    <ul>
                        <li>13 ساعات</li>
                        <li>26 حصص شهريا</li>
                        <li>مدة الحصة 30 دقيقة </li>
                    </ul>
                    <a (click)="scrollToTarget('goToContactUs')">اشترك الان</a>
                </div>
            </div>

        </div>
    </div>
</div>
